.subtitle{
font-size:42px;
font-weight:600;
letter-spacing:2px;
}

header{
position:absolute;
top:20px;
right:20px;
}

.download-btn{
padding:12px 25px;
background:#ff6a00;
color:rgb(255, 255, 255);
text-decoration:none;
font-weight:bold;
border-radius:8px;


transition:0.3s;
}

.download-btn:hover{
background:rgb(255, 255, 255);
color:#ff6a00;
}

.download-btn:hover{
background:rgb(255, 255, 255);
color:#ff6a00;
}
